services:
  kv-store:
    build:
      context: ./build/kv-store
    container_name: clah-kv-store
    command: ["/usr/local/bin/etcd", "--data-dir=/var/lib/etcd", "--listen-client-urls=http://0.0.0.0:2379", "--advertise-client-urls=http://kv-store:2379" ]
    volumes:
      - kv-store-data:/var/lib/etcd
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - clah-internal
    healthcheck:
      test: ["CMD", "etcdctl", "--endpoints=http://0.0.0.0:2379", "endpoint", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  api:
    build:
      context: ./build/api
    container_name: clah-api
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      CLAH_KVSTORE_ENDPOINT: http://kv-store:2379
    volumes:
      #- ./build/api/app:/var/www/html/app
      #- ./build/api/bootstrap:/var/www/html/bootstrap:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    depends_on:
      kv-store:
        condition: service_healthy
    networks:
      - clah-internal
    healthcheck:
      test: ["CMD", "php", "-v"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  rproxy:
    build:
      context: ./build/rproxy
    container_name: clah-rproxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./build/rproxy/httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - ./build/rproxy/httpd/conf.d:/usr/local/apache2/conf/conf.d:ro
      - ./build/rproxy/vhosts:/etc/clah/vhosts:ro
      - ./logs/rproxy:/var/log/clah
    depends_on:
      api:
        condition: service_healthy
    networks:
      - clah-internal

networks:
  clah-internal:
    driver: bridge

volumes:
  kv-store-data:
